#!/bin/sh
# Exit immediately if a command produces an error.
set -e
# Source debconf library
. /usr/share/debconf/confmodule

maybe_reset() {
    if [ "$1" = "reconfigure" ] || [ -n "$DEBCONF_RECONFIGURE" ]; then
        db_reset "$2" || true
    fi
}

ask_or_clear() {
    local priority="$1"
    local question="$2"
    db_input "$priority" "$question" || {
        db_fget "$question" seen || true
        if [ "$RET" != "true" ]; then
            db_set "$question" ""
        fi
    }
}

prompt_required() {
    local question="$1"
    local ret

    db_input critical "$question" || [ $? -eq 30 ]
    db_go || true
    db_get "$question" || RET=
    while [ -z "$RET" ]; do
        db_input critical datum-gateway/emptyfield || true
        db_go || true
        db_input critical "$question" && ret=0 || ret=$?
        db_go || true
        if [ "$ret" -eq 30 ]; then
            break
        fi
        db_get "$question" || RET=
    done
    unset RET
}

prompt_required datum-gateway/rpcurl

db_input critical datum-gateway/rpccredorcookie || [ $? -eq 30 ]
db_go || true

db_get datum-gateway/rpccredorcookie || RET=
if [ "$RET" = "cookie" ]; then
	prompt_required datum-gateway/cookiepath
else
	prompt_required datum-gateway/rpcuser
	prompt_required datum-gateway/rpcpassword
fi
unset RET

db_input critical datum-gateway/bitcoin-address || [ $? -eq 30 ]
db_go || true

maybe_reset "$1" datum-gateway/log
ask_or_clear high datum-gateway/log
db_go || true

db_input medium datum-gateway/coinbase-tag-secondary || [ $? -eq 30 ]
db_go || true

maybe_reset "$1" datum-gateway/work_update_seconds
ask_or_clear low datum-gateway/work_update_seconds
db_go || true
db_get datum-gateway/work_update_seconds || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 5 ] && [ "$RET" -le 120 ] ; }; then
		break
	fi
	db_input low datum-gateway/work_update_seconds || true
	db_go || true
	db_get datum-gateway/work_update_seconds || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/listen_port
ask_or_clear low datum-gateway/listen_port
db_go || true
db_get datum-gateway/listen_port || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 1 ] && [ "$RET" -le 65535 ] ; }; then
		break
	fi
	db_input low datum-gateway/listen_port || true
	db_go || true
	db_get datum-gateway/listen_port || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/max_clients_per_thread
ask_or_clear low datum-gateway/max_clients_per_thread
db_go || true
db_get datum-gateway/max_clients_per_thread || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -gt 0 ]; then
		break
	fi
	db_input low datum-gateway/max_clients_per_thread || true
	db_go || true
	db_get datum-gateway/max_clients_per_thread || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/max_threads
ask_or_clear low datum-gateway/max_threads
db_go || true
db_get datum-gateway/max_threads || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 1 ] && [ "$RET" -le 64 ] ; }; then
		break
	fi
	db_input low datum-gateway/max_threads || true
	db_go || true
	db_get datum-gateway/max_threads || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/max_clients
ask_or_clear low datum-gateway/max_clients
db_go || true
db_get datum-gateway/max_clients || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -gt 0 ]; then
		break
	fi
	db_input low datum-gateway/max_clients || true
	db_go || true
	db_get datum-gateway/max_clients || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/vardiff_min
ask_or_clear low datum-gateway/vardiff_min
db_go || true
db_get datum-gateway/vardiff_min || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -gt 0 ]; then
		break
	fi
	db_input low datum-gateway/vardiff_min || true
	db_go || true
	db_get datum-gateway/vardiff_min || RET=
	done
fi
unset RET

db_input low datum-gateway/coinbase_tag_primary || [ $? -eq 30 ]
db_go || true

maybe_reset "$1" datum-gateway/listen_port-api
ask_or_clear low datum-gateway/listen_port-api
db_go || true
db_get datum-gateway/listen_port-api || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 1 ] && [ "$RET" -le 65535 ] ; }; then
		break
	fi
	db_input low datum-gateway/listen_port-api || true
	db_go || true
	db_get datum-gateway/listen_port-api || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/modify_conf
ask_or_clear low datum-gateway/modify_conf
db_go || true

maybe_reset "$1" datum-gateway/log_level_file
ask_or_clear low datum-gateway/log_level_file
db_go || true
db_get datum-gateway/log_level_file || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 0 ] && [ "$RET" -le 5 ] ; }; then
		break
	fi
	db_input low datum-gateway/log_level_file || true
	db_go || true
	db_get datum-gateway/log_level_file || RET=
	done
fi
unset RET

maybe_reset "$1" datum-gateway/pool_pass_workers
ask_or_clear low datum-gateway/pool_pass_workers
db_go || true

maybe_reset "$1" datum-gateway/pool_pass_full_users
ask_or_clear low datum-gateway/pool_pass_full_users
db_go || true

maybe_reset "$1" datum-gateway/pooled_mining_only
ask_or_clear low datum-gateway/pooled_mining_only
db_go || true