#!/bin/sh
# Exit immediately if a command produces an error.
set -e
# Source debconf library
. /usr/share/debconf/confmodule

db_input critical datum-gateway/bitcoin-address || [ $? -eq 30 ]
db_go || true

db_reset datum-gateway/log || true
db_input high datum-gateway/log || db_set datum-gateway/log ""
db_go || true

db_reset datum-gateway/blocknotify || true
db_input high datum-gateway/blocknotify || db_set datum-gateway/blocknotify ""
db_go || true

db_input medium datum-gateway/coinbase-tag-secondary || [ $? -eq 30 ]
db_go || true

db_reset datum-gateway/work_update_seconds || true
db_input low datum-gateway/work_update_seconds || db_set datum-gateway/work_update_seconds ""
db_go || true
db_get datum-gateway/work_update_seconds || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 5 ] && [ "$RET" -le 120 ] ; }; then
		break
	fi
	db_input low datum-gateway/work_update_seconds || true
	db_go || true
	db_get datum-gateway/work_update_seconds || RET=
	done
fi
unset RET

db_reset datum-gateway/listen_port || true
db_input low datum-gateway/listen_port || db_set datum-gateway/listen_port ""
db_go || true
db_get datum-gateway/listen_port || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 1 ] && [ "$RET" -le 65535 ] ; }; then
		break
	fi
	db_input low datum-gateway/listen_port || true
	db_go || true
	db_get datum-gateway/listen_port || RET=
	done
fi
unset RET

db_reset datum-gateway/max_clients_per_thread || true
db_input low datum-gateway/max_clients_per_thread || db_set datum-gateway/max_clients_per_thread ""
db_go || true
db_get datum-gateway/max_clients_per_thread || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -gt 0 ]; then
		break
	fi
	db_input low datum-gateway/max_clients_per_thread || true
	db_go || true
	db_get datum-gateway/max_clients_per_thread || RET=
	done
fi
unset RET

db_reset datum-gateway/max_threads || true
db_input low datum-gateway/max_threads || db_set datum-gateway/max_threads ""
db_go || true
db_get datum-gateway/max_threads || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 1 ] && [ "$RET" -le 64 ] ; }; then
		break
	fi
	db_input low datum-gateway/max_threads || true
	db_go || true
	db_get datum-gateway/max_threads || RET=
	done
fi
unset RET

db_reset datum-gateway/max_clients || true
db_input low datum-gateway/max_clients || db_set datum-gateway/max_clients ""
db_go || true
db_get datum-gateway/max_clients || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -gt 0 ]; then
		break
	fi
	db_input low datum-gateway/max_clients || true
	db_go || true
	db_get datum-gateway/max_clients || RET=
	done
fi
unset RET

db_reset datum-gateway/vardiff_min || true
db_input low datum-gateway/vardiff_min || db_set datum-gateway/vardiff_min ""
db_go || true
db_get datum-gateway/vardiff_min || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && [ "$RET" -gt 0 ]; then
		break
	fi
	db_input low datum-gateway/vardiff_min || true
	db_go || true
	db_get datum-gateway/vardiff_min || RET=
	done
fi
unset RET

db_input low datum-gateway/coinbase_tag_primary || [ $? -eq 30 ]
db_go || true

db_reset datum-gateway/listen_port-api || true
db_input low datum-gateway/listen_port-api || db_set datum-gateway/listen_port-api ""
db_go || true
db_get datum-gateway/listen_port-api || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 1 ] && [ "$RET" -le 65535 ] ; }; then
		break
	fi
	db_input low datum-gateway/listen_port-api || true
	db_go || true
	db_get datum-gateway/listen_port-api || RET=
	done
fi
unset RET

db_reset datum-gateway/modify_conf || true
db_input low datum-gateway/modify_conf || db_set datum-gateway/modify_conf ""
db_go || true

db_reset datum-gateway/log_level_file || true
db_input low datum-gateway/log_level_file || db_set datum-gateway/log_level_file ""
db_go || true
db_get datum-gateway/log_level_file || RET=
if [ "$RET" ]; then
	while true; do
	if echo "$RET" | grep -sqE '^[0-9]+$' && { [ "$RET" -ge 0 ] && [ "$RET" -le 5 ] ; }; then
		break
	fi
	db_input low datum-gateway/log_level_file || true
	db_go || true
	db_get datum-gateway/log_level_file || RET=
	done
fi
unset RET

db_reset datum-gateway/pool_pass_workers || true
db_input low datum-gateway/pool_pass_workers || db_set datum-gateway/pool_pass_workers ""
db_go || true

db_reset datum-gateway/pool_pass_full_users || true
db_input low datum-gateway/pool_pass_full_users || db_set datum-gateway/pool_pass_full_users ""
db_go || true

db_reset datum-gateway/pooled_mining_only || true
db_input low datum-gateway/pooled_mining_only || db_set datum-gateway/pooled_mining_only ""
db_go || true